# Configure me and rename me to ".env"!

# SECURITY WARNING: don't run with the debug turned on in production!
DEBUG=True

# SECURITY WARNING: keep the secret key used in production secret!
DJANGO_SECRET_KEY=your_secret_key

# DB URL
DATABASE_URL=sqlite:///litreview.sqlite3

# EMAIL BACKEND to console
DJANGO_EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
