{% extends "account/base.html" %}
{% load account crispy_forms_tags %}

{% block head_title %}Réinitialisation du mot de passe{% endblock %}

{% block content %}
<div class="container w-50 p-4">
    <h1>Réinitialisation du mot de passe</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>Mot de passe oublié ? Indiquez votre adresse e-mail ci-dessous et nous vous enverrons un e-mail pour le réinitialiser.</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-primary" type="submit" value="Réinitialiser mon mot de passe" />
    </form>
</div>
{% endblock %}
